table {
  border-collapse:collapse;
  color: #344054;
}

.all-table-borders {
  border: 1px solid #eaecf0;
}

.nested-table-external {
  border: 1px solid #eaecf0;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.nested-table-internal {
  border: 1px solid #eaecf0;
  border-bottom: 0px;
}
  
td.variants-column {
  text-align: center; /* TODO: REVISAR DOCUMENTOS POR ESTO */
}

td.products-column {
  border-bottom: 1px solid #eaecf0;
}

th {
  font-weight: normal;
}

.middle-nested-table {
  border-bottom: 1px solid #eaecf0;
}

.table-header {
  background-color: #f3f3f3;
  text-align: left;
  font-weight: 00;
}

.actions-bg {
  background-color: #f3f3f3;
}

.dropdown-toggle {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  white-space: unset;
}

.dropdown-toggle::after {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  white-space: unset;
}

.dropdown-action {
  color: #667085;
  margin-left: 5px;
}

.dropdown-action-icon {
  width: 20px;
  height: 20px;
}

.dropdown-menu {
  border: var(--bs-dropdown-border-width) solid var(--dropdwon-popup-border);
  --bs-dropdown-link-active-bg: #e9e9e9;
}

.nested-table {
  width: 100%;
}

.sort-icon {
  margin-right: 5px;
  width: 10px;
  height: 15px;
}

:root {
  --red-btn-bg: #ecd0d8;
  --red-btn-color: #c9184a;
  --green-btn-bg: #d9e9e5;
  --green-btn-color: #52b69a;
  --grey-btn-bg: #e9e9e9;
  --grey-btn-color: #8b8d97;
  --pill-color: #344054;
  --grey-pill-bg: #f4f4f4;
  --grey-pill-border: #f4f4f4;
  --light-grey-pill-bg: #f9fafb;
  --light-grey-pill-border: #eaecf0;
  --blue-pill-bg: #e2e7ef;
  --blue-pill-border: #eaecf0;
  --dropdwon-popup-border: #eaecf0;
}

.bg-secondary {
  background-color: var(--grey-btn-bg);
}

.grey-pill {
  background-color: var(--grey-pill-bg);
  color: var(--pill-color);
  border: 1px solid var(--grey-pill-border);
  font-weight: normal;
  font-size: var(--bs-body-font-size);
}

.light-grey-pill {
  background-color: var(--light-grey-pill-bg);
  color: var(--pill-color);
  border: 1px solid var(--light-grey-pill-border);
  font-weight: var(--bs-badge-font-weight);
  font-size: var(--bs-body-font-size);
}

.blue-pill {
  background-color: var(--blue-pill-bg);
  color: var(--pill-color);
  border: 1px solid var(--blue-pill-border);
  font-weight: var(--bs-badge-font-weight);
  font-size: var(--bs-body-font-size);
}

.btn-danger {
  background-color: var(--red-btn-bg);
  --bs-btn-border-color: var(--red-btn-bg);
  color: var(--red-btn-color);
  --bs-btn-hover-bg: var(--red-btn-color);
  --bs-btn-hover-border-color: var(--red-btn-color);
}

.btn-success {
  background-color: var(--green-btn-bg);
  --bs-btn-border-color: var(--green-btn-bg);
  color: var(--green-btn-color);
  --bs-btn-hover-bg: var(--green-btn-color);
  --bs-btn-hover-border-color: var(--green-btn-color);
}

.btn-secondary {
  background-color: var(--grey-btn-bg);
  --bs-btn-border-color: var(--grey-btn-bg);
  color: var(--grey-btn-color);
  --bs-btn-hover-bg: var(--grey-btn-color);
  --bs-btn-hover-border-color: var(--grey-btn-color);
}

.action-btn {
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.dark-grey-row {
  background-color: #dfe0e4;
}

.dark-blue-header {
  background-color: #344054;
  color: #ffffff;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  padding-top: 20px;
  text-align: center;
}

.loading-img {
  width: 100px;
  height: 100px;
}